:root {
  /*Main Colors*/
  --primary1: #393e46;
  --primary2: #00adb5;
  --primary3: #eeeeee;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}


input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

/*Before warpper*/
.wrapperBody {
  height: calc(100vh - 16px);
  display: flex;
}
/*Before container*/
.containerRound {
  margin: auto;
  padding: 45px 20px 10px 20px;
  border: solid 2px black;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrapperFlexColumn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

h2 {
  font-size: 24px;
  font-weight: 100;
  text-align: center;
}

.btn {
  border-radius: 0px;
  padding: 13px;
  border: solid 1px black;
  background-color: var(--primary3);
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.btn:hover {
  background-color: var(--primary2);
  color: white;
  cursor: pointer;
}

.section-title {
  margin-top: -1px;
  margin-right: -1px;
  margin-left: -1px;
  font-size: 14px;
  border: solid 1px black;
  padding: 8px 10px;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary2);
  color: white;
  cursor: default;
}

.line {
  margin: 0px 0px 20px 0px;
}

input[type="number"] {
  text-align: right;
}

select {
  direction: rtl;
}

.input-pxy {
  padding: 4px;
}

.wellcome {
  font-weight: 250;
}

/*Margins*/

.m-auto {
  margin: auto;
}

.mt--1 {
  margin-top: -1px;
}

.mt--2 {
    margin-top: -10px;
  }

.mt-0 {
  margin-top: 0px;
}

.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-4 {
  margin-top: 20px;
}

.mt-8 {
  margin-top: 40px;
}

.mt--2 {
    margin-top: -10px;
}

.ml-0 {
  margin-left: 0px;
}

.mb--1 {
  margin-bottom: -5px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-4 {
  margin-bottom: 20px;
}

.mb-6 {
  margin-bottom: 30px;
}

.mb-10 {
  margin-bottom: 50px;
}

.mx-4 {
  margin-left: 20px;
  margin-right: 20px;
}

.mx-6 {
  margin-left: 30px;
  margin-right: 30px;
}

.mx-10 {
  margin-left: 50px;
  margin-right: 50px;
}

.mx-12 {
  margin-left: 60px;
  margin-right: 60px;
}

.pb-ex3 {
  padding-bottom: 3px;
}

.pt-ex3 {
  padding-top: 3px;
}

.direction-reverse{
    direction: rtl;
}
